<ol>
	<li>
		<span class="key">NIK</span>
		<span class="value">AB324987</span>
	</li>

	<li>
		<span class="key">Jenis Kelamin</span>
		<span class="value">AB324987</span>
	</li>

	<li>
		<span class="key">Tempat Lahir</span>
		<span class="value">Jakarta</span>
	</li>

	<li>
		<span class="key">Tanggal Lahir</span>
		<span class="value">12 September 1987</span>
	</li>


	<li>
		<span class="key">Suku</span>
		<span class="value">Melayu</span>
	</li>
</ol>

<ol>
	<li>
		<span class="key">Nomor Identitas</span>
		<span class="value">AB324987</span>
	</li>

	<li>
		<span class="key">Agama</span>
		<span class="value">Kristen</span>
	</li>


	<li>
		<span class="key">Golongan Darah</span>
		<span class="value">O</span>
	</li>



	<li class="address">
		<span class="key">Alamat KTP</span>
		<div class="address_wrapper">
			<span class="value">Perumahan Citra Garden 1 AC2/3G</span>
			<span class="appendix">Kalideres, 11840</span>
		</div>
	</li>


	<li class="address">
		<span class="key">Alamat Sekarang</span>
		<div class="address_wrapper">
			<span class="value">Perumahan Citra Garden 1 AC2/3G</span>
			<span class="appendix">Kalideres, 11840</span>
			<span class="appendix"></span>
		</div>
	</li>
</ol>

<ol>
	<li>
		<span class="key">Email</span>
		<span class="value"><%= "w.yunnal@gmail.com" %></span>
	</li>

	<li>
		<span class="key">Telp rumah</span>
		<span class="value">5456369</span>
	</li>


	<li>
		<span class="key">Handphone</span>
		<span class="value">82971123</span>
	</li>

	<li>
		<span class="key">Status Perkawinan</span>
		<span class="value">Single</span>
	</li>

	<li>
		<span class="key">Status Rumah</span>
		<span class="value">Pribadi</span>
	</li>

	<li>
		<span class="key">NPWP</span>
		<span class="value">234234234</span>
	</li>

	<li>
		<span class="key">Nama Bank</span>
		<span class="value">BCA</span>
	</li>

	<li>
		<span class="key">No Rekening</span>
		<span class="value">2342342</span>
	</li>


</ol>

