
<div id="content-wrapper">
	<div id="breadcrumb">
	</div>
	
	<div id="content">
		<ul>
			<div class="hr_tool clearfix">
				<a class="illustration add_employee" href="#new_employee_wrapper"><img src="/images/new_employee_icon.png" /></a>
				<div class="illustration_text">
					<a>Add Employee</a>
				</div>
			</div>
			
			<div class="hr_tool clearfix">
				<a class="illustration"><img src="/images/edit_attendance_icon.png" /></a>
				<div class="illustration_text">
					<a>Edit Attendance</a>
				</div>
			</div>
			
			<div class="hr_tool clearfix">
				<a class="illustration"><img src="/images/report_icon.png" /></a>
				<div class="illustration_text">
					<a>Report</a>
				</div>
			</div>
			
			<div class="hr_tool clearfix">
				<a class="illustration"><img src="/images/search_icon.png" /></a>
				<div class="illustration_text">
					<a>Search</a>
				</div>
			</div>
		</ul>
	</div>
</div>


<%= render :partial => "new_employee_form", :locals => { :employee => @employee } %>




