<div id="wrapper">
	<div id="header">
		<div class="inner clearfix">
			<a class="logo" title="HumanResc Home">HumanResc</a>
			<div class="menu">
				<a class="HR_MANAGER active">HR Management</a>
			</div>
			
			<div class="menu">
				<a class="Payroll">Payroll</a>
			</div>
			
			<div class="account_management_menu">
				<span>willy@gmail.com</span>
				<a class="logout">LogOut</a>
			</div>
		</div>
	</div> <!-- #header -->
	
	<div id="content-wrapper">
		<div id="breadcrumb">
		</div>
		
		<div id="content">
			<ul>
				<div class="hr_tool clearfix">
					<a class="illustration"><img src="/images/rails.png" /></a>
					<div class="illustration_text">
						<a>Add Employee</a>
					</div>
				</div>
				
				<div class="hr_tool clearfix">
					<a class="illustration"><img src="/images/rails.png" /></a>
					<div class="illustration_text">
						<a>Edit Attendance</a>
					</div>
				</div>
				
				<div class="hr_tool clearfix">
					<a class="illustration"><img src="/images/rails.png" /></a>
					<div class="illustration_text">
						<a>Report</a>
					</div>
				</div>
				
				<div class="hr_tool clearfix">
					<a class="illustration"><img src="/images/rails.png" /></a>
					<div class="illustration_text">
						<a>Search</a>
					</div>
				</div>
			</ul>
		</div>
	</div>
	
	<div id="form_new_employee">
		
	</div>
	
	<div id="footer">
	</div>
	
	
</div> <!-- #wrapper -->