<div id="content-wrapper">
	<div id="breadcrumb">
	</div>
	
	<div id="content">
		<h2 class="section-header">Data Pribadi</h2>
		
		<h2 class="section-header">Susunan Keluarga</h2>
		
		<h2 class="section-header"><%= "Suami/Istri/Anak" %></h2>
		<h2 class="section-header">Riwayat Pendidikan</h2>
		<h2 class="section-header"><%= "Kursus/Pelatihan" %>
	</div>
</div>

