#wrapper { background-color: rgb(240,240,240); }
#header { height: 80px; margin:0 ; padding:0 ; text-align:left; border-bottom: 1px solid #C8C8C8;}
#header div.inner { margin: 0 auto; padding: 11px 0 8px; width: 996px;  }
#header div.inner  a {  vertical-align: top; }
			.logo { background: url("/images/logo.png") no-repeat scroll 0 0 transparent;   display: inline-block; height: 54px; margin: 2px 0 0;  text-indent: -9999px;   width: 165px; }
#header div.inner div.menu { display: inline-block; margin-top: 9px; vertical-align: top; z-index: 1011; height:54px;}
#header div.inner div.menu a { font-size: 20px; position: relative; top:22px; text-decoration: none; cursor:pointer; margin: 0 5px 0; padding: 0 3px 0;}
#header div.inner div.menu a:hover { background-color: rgb(220,220,220);}
#header div.inner div.menu a.active { background-color: rgb(200,200,200);}
#header div.inner div.menu a.active:hover { background-color: rgb(200,200,200);}
#header div.inner div.account_management_menu { float: right;  margin-top: 9px;  width: 220px;}

#content-wrapper { margin: 0 auto; padding: 11px 0 8px; width: 996px;}

	#content ul div.hr_tool { display: block; margin-bottom:20px; padding: 5px 10px 5px;}
	#content ul div.hr_tool:hover { background-color: rgb(250,250,250); }
	#content ul div.hr_tool a.illustration { float:left; margin-right: 8px;}
	#content ul div.hr_tool div.illustration_text  a {font-size: 16px; position:relative; top:15px; cursor: pointer; text-decoration : none; color: rgb(150,150,150);}
	#content ul div.hr_tool div.illustration_text  a:hover { color: rgb(80,80,80);}
	
	div#form_new_employee { display:none;}
	div.form_wrapper { width : 835px; }
	div.form_wrapper fieldset { margin: 10px 0 0;  padding: 0;}
	div.form_wrapper fieldset legend { background: none repeat scroll 0 0 #493F0B; color: #FFFFFF;  font-size: 1.3em;  margin-left: 1em;  padding: 5px; text-transform: uppercase;}
	div.form_wrapper fieldset ol { list-style: none outside none; padding: 10px 10px 0;}
	div.form_wrapper fieldset ol li { line-height: 3.4em; padding-bottom: 1em; position: relative;}
	div.form_wrapper fieldset ol li label { clear: left;  float: left; line-height: 3.4em; margin-right: 5px;  padding-right: 30px; position: relative;  text-align: right;  width: 15em;}
	div.form_wrapper fieldset ol li input { background: none repeat scroll 0 0 #F5F6D4;  border: 1px solid #493F0B;  color: #1E1903;  font-size: 1.4em;  padding: 5px;}
	div.form_wrapper fieldset#submitform {background:none;border-style: none; }
	div.form_wrapper fieldset input#photo { cursor: pointer;}
	div.form_wrapper fieldset.second { display: none;}
	div.form_wrapper fieldset.third { display : none;}
	div.form_wrapper fieldset.submit { display : none;}
			
	div#fieldset-control input#formsubmit { background: none repeat scroll 0 0 #F5F6D4; border: 1px solid #493F0B; color: #1E1903; font-size: 1.4em; padding: 5px; cursor: pointer; float:right; display:none;}
	div#fieldset-control a { background: none repeat scroll 0 0 #493F0B; color: #FFFFFF; font-size: 1.3em; margin-left: 0;  padding: 5px; text-transform: uppercase; text-decoration : none;}
	div#fieldset-control a.next { float: right;}
	div#fieldset-control a.next:hover { color: rgb(60,60,60); background: rgb(200,200,200); font-weight: bold;}
	div#fieldset-control a.back { float: left; display:none;}
	div#fieldset-control a.back:hover {color: rgb(60,60,60); background: rgb(200,200,200); font-weight: bold; }
	
	/* Employee#show */
	
	
	
	div#data-display-wrapper { padding-top : 20px;}
	div#core-data img { border:2px solid rgb(250,250,250); background-color: white; }
	div#core-data div.image-wrapper { float: left; width: 200px ;}
	div#core-data span.name { font-size: 24px; font-weight: bold; color: rgb(50, 50, 50);  display:block; height: 30px; padding-top: 3px;}
		/* breadcrumb */
		div#breadcrumb { margin-bottom:10px; }
		div#breadcrumb  a { font-size:16px; margin: 0 3px; text-decoration:none; background-color: rgb(230,230,230); color:rgb(50,50,50); padding: 1px 3px; cursor: pointer;}
		div#breadcrumb  a.active { background-color: rgb(150,150,150); color: rgb(50,50,50); }
		div#breadcrumb  a:hover {background-color: rgb(150,150,150); color: white; }
	
	div#core-data  div.info-wrapper { float : left; padding-left: 50px; border-left: 1px solid rgb(230,230,230); width: 600px;}
	div#core-data  div.info-wrapper  ol {list-style: none outside none;   /*padding: 5px 10px 10px; */border-bottom: 1px dashed #FAFAFA; }
	div#core-data  div.info-wrapper  ol li { line-height: 3.4em; padding-bottom: 1em; position: relative; height:21px;}
	div#core-data  div.info-wrapper  ol li span.key { clear: left;  float: left; line-height: 3.4em;  margin-right: 5px; padding-right: 30px; position: relative;  text-align: right; width: 10em; height: 21px;}
	div#core-data  div.info-wrapper  ol li span.value { font-size:18px;}
	div#core-data  div.info-wrapper  ol li span.appendix { position: relative;  display:block; left:175px; font-size:18px; line-height:1em;}
	div#core-data  div.info-wrapper  ol li.address { height: 60px;}
	div#core-data  div.info-wrapper  ol li.address div.address_wrapper { width: 100%;}
	
	div#family-data-wrapper span.section_header { font-size:18px; text-decoration: underline;}
	div#family-data-wrapper a.add_family { background-color: #2D9637; color: white; font-weight:bold; text-decoration: none; border: 1px solid green; padding: 2px; font-size:16px;}
	input#relativeSubmit { background: none repeat scroll 0 0 #F5F6D4;  border: 1px solid #493F0B; color: #1E1903;   cursor: pointer;   float: right; font-size: 1.4em;  padding: 5px;}
	
div#footer { height:100px;}