<div id="header">
	<div class="inner clearfix">
		<a class="logo" title="HumanResc Home">HumanResc</a>
		<div class="menu">
			<a class="HR_MANAGER active">HR Management</a>
		</div>
		
		<div class="menu">
			<a class="Payroll">Payroll</a>
		</div>
		
		<div class="account_management_menu">
			<span>willy@gmail.com</span>
			<a class="logout">LogOut</a>
		</div>
	</div>
</div> <!-- #header -->